<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="django image uploading service for cool guys">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Django Image</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
        <link rel="author" href="humans.txt">
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">Django Image</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li><a href="/">Home</a></li>
                            <li><a href="{% url top10 %}">Top 10</a></li>
                        </ul>
                        {% if user.is_authenticated %}<p class="navbar-text pull-right">Logged in as <a href="#profile-link" class="navbar-link">{{ user.username }}</a></p>
                        {% else %}
                            <ul class="nav pull-right">
                                <li><a href="#registration-link">Register</a></li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">Login <strong class="caret"></strong></a>
                                    <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                                        <form action="/login/" method="post">
                                            <input type="text" name="username" placeholder="Username" />
                                            <input type="password" name="password" placeholder="Password" />
                                            {% csrf_token %}
                                            <input class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="submit" value="Sign In" />
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="{% if user.is_authenticated %}span9{% else %}span12{% endif %}">
                {% block content %}{% endblock %}
            </div>
            {% if user.is_authenticated %}
                <div class="span3">
                    <div class="well sidebar-nav">
                        <ul class="nav nav-list">
                            <li class="nav-header">My Account</li>
                            <li><a href="{% url upload %}">Upload</a></li>
                            <li><a href="{% url manage %}">Manage</a></li>
                            <li><a href="{% url logout %}">Logout</a></li>
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
        <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    </body>
</html>