{% extends "base.html" %}

{% block content %}
<div class="row-fluid">
	<div class="span12">
		<div class="hero-unit">
			<h1>Django Image</h1>
			<p>Django Image is a fast, simple and reliable image hosting site that you can use to share your experiences.</p>
			<p><a class="btn btn-primary btn-large" href="#register-link">Register now!</a>
		</div>
		<div class="row-fluid">
			<div class="span4">
				<h2>Fast</h2>
				<p>Powered by a Python it's ultra fast.</p>
				<p><a class="btn" href="#register-link">Register now!</a>
			</div>
			<div class="span4">
				<h2>Security</h2>
				<p>Your pictures are safe here.</p>
				<p><a class="btn" href="#register-link">Register now!</a>
			</div>
			<div class="span4">
				<h2>Reliable</h2>
				<p>Always reachable 99.9% of the time.</p>
				<p><a class="btn" href="#register-link">Register now!</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}