#uploadForm #id_description{
    width: 500px;
    height: 150px;
    resize: none;
}

#uploadForm #id_name{
    width: 500px;
}

#uploadForm ul li{
    list-style: none;
    display: inline;
    padding: 0 10px;
}

#uploadForm ul li label{
    display: inline;
}

.image{
    display: inline-block;
    margin-right: 10px;
    width: 220px;
}

.image p.name{
    text-align: center;
}

.image .options{
    font-size: 11px;
}

.image p.muted{
    height: 100px;
}


td small.muted br{
    content: " ";
    display: block;
    margin: 10px 0;
}

.table{
    width: auto\9;
    max-width: 800px;
}

.center{
    text-align: center;
    max-width: 800px;
}